.container {
max-width: 80%;
margin: 0 auto;

}

.contained {
    height: 80%;
}
#main-header {
    background: orange;
    padding: 5px 32px;
    color: white;
    text-align: center;
}

#navbar {
    background: black;
    padding: 10px;
    color: white;
    text-align: center;
    ;
}

#main-footer {
    background: rgb(0, 0, 0);
    padding:  8px;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
